.choose_picture_page {
    padding: 10px 0 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    .top {
        width: 60vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .back {
        flex: 0 0 160px;
    }
    .back_button {
        position: relative;
        width: 60px;
        height: 60px;
    }
    .header {
        flex: 0 0 65%;
        text-align: center;
    }
    .timer {
        flex: 0 0 160px;
        height: 60px;
        text-transform: uppercase;
        text-align: right;
        font-size: 36px;
        border: 0;
        background-image: url(assets/images/svg/timer-picture.svg);
        background-color: transparent;
        background-repeat: no-repeat;
        background-position-y: center;
        background-size: contain;
        color: $main;
    }
    .middle {
        margin: auto 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 95vmin;
        gap: 2vmin;
    }
    .items {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 5vmin;
    }
    .item {
        width: 45vmin;
        height: 0;
        padding-bottom: 45vmin;
        background-image: url(assets/images/bg/starry-night.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 20px;
    }
    .bullets {
        display: flex;

        gap: 30px;
    }
    .bullet {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #000000;
        opacity: 0.7;
    }
}



@media (max-width: 1440px) {
    .choose_picture_page {
        padding: 5vmin 0;
    }
}


@media (max-width: 1024px) {
    .choose_picture_page {
        padding: 5vmin;
        .top {
            width: 100%;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 60px;
        }
        .header {
            flex: 1 0 100%;
            order: 3;
            font-size: 36px;
            line-height: 44px;
        }
        .back {
            flex: 0 0 60px;
        }
        .timer {
            flex: 0 0 170px;
        }
        .bullets {
            gap: 3vmin;
        }
        .bullet {
            width: 3vmin;
            height: 3vmin;
        }
    }

}


@media (max-width: 700px) {
    .choose_picture_page {
        .header {
            font-size: 30px;
            line-height: 37px;
        }
    }
}

@media (max-width: 375px) {
    .choose_picture_page {
        .header {
            font-size: 18px;
    line-height: 22px;
        }
        .back_button {
            width: 40px;
            height: 40px;
            &:before {
                width: 40px;
            }
            &:after {
                width: 40px;
            }
        }
        .timer {
            flex: 0 0 110px;
            height: 40px;
            font-size: 24px;
        }
    }
}
