.pop {
    padding: 10px;
    position: absolute;
    width: 70vmin;
    height: 70vmin;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    z-index: 50;
    transition: all 0.3s ease;
}
.pop_picture {
    width: 60vmin;
    height: 60vmin;
    background-size: cover;
    background-position: center;
}
.pop_picture_round {
    width: 50vmin;
    height: 25vmin;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.pop_text {
    font-size: 3vmin;
    height: 20vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.pop_greetings {
    font-size: 5vmin;
}
.pop_score {
    font-size: 4vmin;
}
.pop.correct {
    background-color: rgb(206, 255, 196);
}
.pop.incorrect {
    background-color: rgb(255, 196, 196);
}
